file_json/konten_yt.json
{
  "name": "konten yt",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        640,
        0
      ],
      "id": "c8d51eb8-d125-4cd8-8826-f28cf9502f05",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f6d2557b-e9df-4d77-9192-ca1b9420a945",
              "leftValue": "={{ $json.status }}",
              "rightValue": "pending",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        400,
        0
      ],
      "id": "6fb7c4fe-feb8-46f6-9e8b-706ceec64d9a",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.link }}",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -32,
        224
      ],
      "id": "8fefb82d-e5cf-480d-8173-33b21ac7f544",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "DIpHPSX2XXbyIaLp",
          "name": "drive dwarsito"
        }
      }
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $json.title }}",
        "regionCode": "US",
        "categoryId": "24",
        "options": {
          "defaultLanguage": "en",
          "description": "={{ $json.description }}",
          "privacyStatus": "public",
          "tags": "={{ $json.tag }}"
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        176,
        224
      ],
      "id": "7d1fc547-9398-47a2-b797-b25db759ab6b",
      "name": "Upload a video",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "rTDdlHsCSdft9uyc",
          "name": "yt_dwarsito"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1KIxBizBYC3HOvNBNNBAjUadVxFBi8F2-Vsa3wzC-aSo",
          "mode": "list",
          "cachedResultName": "link konten ai",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KIxBizBYC3HOvNBNNBAjUadVxFBi8F2-Vsa3wzC-aSo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "ai kombinasi",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KIxBizBYC3HOvNBNNBAjUadVxFBi8F2-Vsa3wzC-aSo/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Download file').item.json.row_number }}",
            "status": "uploaded"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "link",
              "displayName": "link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        400,
        224
      ],
      "id": "f4be0723-9848-427d-b65a-7159a73aaea0",
      "name": "Update status in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9oRxzkLCZl5Rm1Rq",
          "name": "gsheet_dwarsito"
        }
      }
    },
    {
      "parameters": {
        "content": "",
        "width": 880,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -80,
        -16
      ],
      "typeVersion": 1,
      "id": "54743eb4-2e32-45ca-b6af-ce3419495d19",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "",
        "width": 880,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -80,
        192
      ],
      "typeVersion": 1,
      "id": "1025ef14-c136-4df1-9ff3-0d32ceabf34f",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1KIxBizBYC3HOvNBNNBAjUadVxFBi8F2-Vsa3wzC-aSo",
          "mode": "list",
          "cachedResultName": "link konten ai",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KIxBizBYC3HOvNBNNBAjUadVxFBi8F2-Vsa3wzC-aSo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "ai kombinasi",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KIxBizBYC3HOvNBNNBAjUadVxFBi8F2-Vsa3wzC-aSo/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        176,
        0
      ],
      "id": "ec8cea8c-c0bd-4f93-bc13-63f93deebd9d",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9oRxzkLCZl5Rm1Rq",
          "name": "gsheet_dwarsito"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 3
            },
            {
              "triggerAtHour": 22
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -32,
        0
      ],
      "id": "926807a5-a423-4aa6-ac9a-5cccbe207178",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Upload a video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload a video": {
      "main": [
        [
          {
            "node": "Update status in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "ebb61ad2-5202-4cb0-b4a6-cf7fc5003a59",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "623b02d455bd32349baa63f54313e5a0cc68ae384eb80dc40193b090905d62f9"
  },
  "id": "7hp5Uaacz7apIWTk",
  "tags": []
}